.main-contanier{
    font-family: "roboto";
}
.wiki-search-header{
    border-width: 1px;
    border-style: solid;
    border-color: #d5cdcd;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
   .wiki-logo{
    margin-bottom: 30px;
    width:150px;
   }
   .search-input{

   font-size: 18px;
   border-style: solid;
   border-width: 1px;
   border-color: #d5cdcd;
   border-radius: 3px;
   padding:10px;
}
