.space{
    margin-right: 50px;

}
.sizeingtext{
    height:50px;
    width:50px;
    text-align: center;
}
.savedisgn{
    margin-left: 120px;
    margin-top: 60px;
}
.contanieer{
    background-color:beige;
    width:200px;
}