.image1{
    height:150px;
    width:200px;
}
.buttons{
    color:black;
    font-size: large;
    border-width:0px;
    margin-left:5px;
}
.hr-line{
    background-color: black;
    width:1px;
    height:20px;
}