.labelcontanier{
    background-color: aqua;
    color:black;
   
    border-width: 5px;
    border-color:#096f92;
    width:50%;
    border-radius: 4px;
    border-style: solid;
    border-right:none;
    border-top: none;
    border-bottom: none;
    margin-bottom: 10px;
    
}
 
.visible{
    text-decoration: line-through;
}